@* Items.cshtml file. Located in Views/Items *@
@{
    Layout = "_Layout1"; // Specify the layout file you want to use
}
@model ChampionStat
<!--background override (temporary styling for background)-->
@{
    var c = (ChampionStat)@ViewData["i"];
    var cb = c.ChampionData;
    string splash = @cb.Name + "_0.jpg";
    var itemsl = c.items;
}

<style>
    html {
        background: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/@splash") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    body {
        margin-bottom: 60px;
        background-color: #111; /* Dark background color */
        background: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/@splash") no-repeat center center fixed;
        background-size: cover;
        color: #fff; /* White text color */
        font-family: 'Arial', sans-serif; /* Choose a suitable font */
    }
</style>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .scrollable-container {
        max-height: 400px; /* Set the maximum height for the scrollable container */
        overflow-y: auto; /* Enable vertical scrolling */
        border: 1px solid #ccc; /* Add a border for aesthetics */
    }

    .item-image {
        max-width: 100%; /* Make sure images don't exceed their container */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Remove extra space beneath images */
        margin-bottom: 10px; /* Add some spacing between images */
    }
</style>

<html>
    <body>
    <h2>@cb.Name</h2>


    <table style="float:left;">
        <tr>
            <th>Level</th>
            <td>@c.Level</td>
        </tr>
        <tr>
            <th>Health</th>
            <td>@c.Health</td>
        </tr>
        <tr>
            <th>Health Regeneration</th>
            <td>@c.HealthRegeneration</td>
        </tr>
        <tr>
            <th>Health/Shield power</th>
            <td>@c.heal_shield_power</td>
        </tr>
        <tr>
            <th>Mana</th>
            <td>@c.Mana</td>
        </tr>
        <tr>
            <th>Mana Regeneration</th>
            <td>@c.ManaRegeneration</td>
        </tr>
        <tr>
            <th>Ability Power</th>
            <td>@c.ability_power</td>
        </tr>
        <tr>
            <th>Ability Haste</th>
            <td>@c.ability_haste</td>
        </tr>
        <tr>
            <th>Magic Penetration (Flat)</th>
            <td>@c.magic_pen</td>
        </tr>
        <tr>
            <th>Magic Penetration (%)</th>
            <td>@c.percent_MR_pen</td>
        </tr>
        <tr>
            <th>Attack Damage</th>
            <td>@c.AttackDamage</td>
        </tr>
        <tr>
            <th>Armor Penetration (Flat)</th>
            <td>@c.armor_penetration</td>
        </tr>
        <tr>
            <th>Armor Penetration (%)</th>
            <td>@c.percent_AR_pen</td>
        </tr>
        <tr>
            <th>Attack Speed</th>
            <td>@c.AttackSpeed</td>
        </tr>
        <tr>
            <th>Attack Range</th>
            <td>@c.AttackRange</td>
        </tr>
        <tr>
            <th>Critical Strike Chance</th>
            <td>@c.CriticalStrikeChance</td>
        </tr>
        <tr>
            <th>Critical Strike Damage</th>
            <td>@c.CriticalStrikeDamage</td>
        </tr>
        <tr>
            <th>Armor</th>
            <td>@c.Armor</td>
        </tr>
        <tr>
            <th>Magic Resistance</th>
            <td>@c.MagicResistance</td>
        </tr>
        <tr>
            <th>Movement Speed</th>
            <td>@c.MovementSpeed</td>
        </tr>
        <tr>
            <th>Life Steal</th>
            <td>@c.LifeSteal</td>
        </tr>
        <tr>
            <th>Spell Vamp</th>
            <td>@c.SpellVamp</td>
        </tr>
        <tr>
            <th>Omni Vamp</th>
            <td>@c.Omnivamp</td>
        </tr>
        <tr>
            <th>Tenacity</th>
            <td>@c.Tenacity</td>
        </tr>
        <tr>
            <th>Slow Resistance</th>
            <td>@c.slow_resist</td>
        </tr>
        <tr>
            <th>Passive Gold</th>
            <td>@c.gold_generation</td>
        </tr>
        <tr>
            <th>Energy</th>
            <td>@c.energy</td>
        </tr>
        <tr>
            <th>Energy Regeneration</th>
            <td>@c.energy_regen</td>
        </tr>
    </table>



    <!--
        <form id="form1" runat="server">
            <div class="scrollable-container">
                <%-- Iterate through the list of RiotSharp items and display images --%>
                <% foreach (var item in riotSharpItems) { %>
                <img class="item-image" src="<%= item.Image.Full %>" alt="<%= item.Name %>" />
                <% } %>
            </div>
        </form>
        -->

    <section class="item-container">
        @foreach (var item in itemsl)
        {
            <div class="item-grid">
                <button>
                    <img class="item-image" src="https://ddragon.leagueoflegends.com/cdn/13.21.1/img/item/@item.Image.Full" alt="@item.Name" />
                </button>
            </div>
        }
    </section>
  
    <p>@Html.ActionLink("Return Back", "Index","Champions","")</p>
    </body>
</html>
