@* Items.cshtml file. Located in Views/Items *@
@{
    Layout = "_Layout1"; // Specify the layout file you want to use
}
@model ChampionStat
<!--background override (temporary styling for background)-->
@{
    var c = (Champion)@ViewData["i"];
}

<style>
    html {
        background: url("https://ddragon.leagueoflegends.com/cdn/11.22.1/img/champion/@c.ImageUrl") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    body {
        margin-bottom: 60px;
        background-color: #111; /* Dark background color */
        background: url(champ.image) no-repeat center center fixed;
        background-size: cover;
        color: #fff; /* White text color */
        font-family: 'Arial', sans-serif; /* Choose a suitable font */
    }
</style>


@c.ImageUrl

<h2>@c.Name</h2>
<p>Category: @c.Category</p>


<table style="float:left;">
    <tr>
        <th>Health</th>
        <td>@c.Hp</td>
    </tr>
    <tr>
        <th>Health Regeneration</th>
        <td>@c.HpRegen</td>
    </tr>
    <tr>
        <th>Mana</th>
        <td>@c.Mp</td>
    </tr>
    <tr>
        <th>Mana Regeneration</th>
        <td>@c.MpRegen</td>
    </tr>
    <tr>
        <th>Attack Damage</th>
        <td>@c.AttackDamage</td>
    </tr>
    <tr>
        <th>Attack Speed</th>
        <td>@c.AttackSpeedOffset</td>
    </tr>
    <tr>
        <th>Attack Range</th>
        <td>@c.AttackRange</td>
    </tr>
    <tr>
        <th>Armor</th>
        <td>@c.Armor</td>
    </tr>
    <tr>
        <th>Magic Resistance</th>
        <td>@c.SpellBlock</td>
    </tr>
    <tr>
        <th>Movement Speed</th>
        <td>@c.MoveSpeed</td>
    </tr>
    <tr>
        <th>Critical Strike Chance</th>
        <td>@c.Crit</td>
    </tr>
    <tr>
        <th>Life Steal</th>
        <td>@c.LifeSteal</td>
    </tr>
    <tr>
        <th>Spell Vamp</th>
        <td>@c.SpellVamp</td>
    </tr>
    <tr>
        <th>Tenacity</th>
        <td>@c.Tenacity</td>
    </tr>
</table>

<!--I have tried to implement a dummy stat calculator, but having a lot of trouble with it.
I think it would be a lot easier once we have the database and API set up so no need to create
dummy data for it. So fell free to edit this howevery you want-->


<section class="item-container">
    @foreach (var item in ViewBag.availableItems)
    {
        <div class="item-grid">
            <p>@item.Name</p>
        </div>
    }
</section>


<p>@Html.ActionLink("Return Back", "Index","")</p>