
@* Index.cshtml file. Located in Views/Champions *@
@{
    Layout = "_Layout"; // Specify the layout file you want to use
}

@model List<SampleProj.Models.Champion>

<div class="champion-grid">
    @foreach (var champion in Model)
    {
        <div class="champion-card">
            <!-- The URL will become shorter once we get the API/Database setup, but as of right now, data will be pass through the URL-->
            <a style="text-decoration: none;" href="@Url.Action("Index", "Items", new { Id=@champion.Id, Name=@champion.Name, Category=@champion.Category, ImageUrl=@champion.ImageUrl,
                Armor=@champion.Armor, ArmorPerLevel=@champion.ArmorPerLevel, AttackDamage=@champion.AttackDamage,
                AttackDamagePerLevel=@champion.AttackDamagePerLevel, AttackRange=@champion.AttackRange, AttackSpeedOffset=@champion.AttackSpeedOffset,
                AttackSpeedPerLevel=@champion.AttackSpeedPerLevel, Crit=@champion.Crit, CritPerLevel=@champion.CritPerLevel, Hp=@champion.Hp,
                HpPerLevel=@champion.HpPerLevel, HpRegen=@champion.HpRegen, HpRegenPerLevel=@champion.HpRegenPerLevel, MoveSpeed=@champion.MoveSpeed,
                Mp=@champion.Mp, MpPerLevel=@champion.MpPerLevel, MpRegen=@champion.MpRegen, MpRegenPerLevel=@champion.MpRegenPerLevel, SpellBlock=@champion.SpellBlock,
                SpellBlockPerLevel=@champion.SpellBlockPerLevel, LifeSteal=@champion.LifeSteal, SpellVamp=@champion.SpellVamp, Tenacity=@champion.Tenacity})">
                <img src="https://ddragon.leagueoflegends.com/cdn/11.22.1/img/champion/@champion.ImageUrl" alt="@champion.Name" width="500" height="500" />
                <h2>@champion.Name</h2>
                <p>@champion.ImageUrl</p>
                <p>Category: @champion.Category</p>
            </a>
        </div>
    }
</div>
