
@* Index.cshtml file. Located in Views/Champions *@
@{
    Layout = "_Layout"; // Specify the layout file you want to use
}

@model List<SampleProj.Models.Champion>

<div class="champion-grid">
    @foreach (var champion in Model)
    {
        <div class="champion-card">
            <!-- The URL will become shorter once we get the API/Database setup, but as of right now, data will be pass through the URL-->
            <a style="text-decoration: none;"href="@Url.Action("Index", "Items", new { Id =@champion.Id, Name=@champion.Name,
             Category=@champion.Category, image=@champion.image, })">
                <img src="@champion.image" alt="@champion.Name" width="500" height="500" />
                <h2>@champion.Name</h2>
                <p>Category: @champion.Category</p>
            </a>
        </div>
    }
</div>
